<div class="container">
  <h3>Simple Todo List</h3>

  <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <input type="text" name="newTask" id="newTask" placeholder="add new task" ngModel>
    <button type="submit" class="btn-floating waves-effect waves-light blue"> <i class="material-icons">add</i></button>
  </form>

  <ul class="todo-list">
    <li *ngFor="let todo of todos">
      <div *ngIf="!this.todo.isCompleted">
        <div class="task">{{this.todo.task}}</div>
        <div>
          <button (click)="onComplete(this.todo.id)" class="btn-floating waves-effect waves-light green"> <i class="material-icons">check</i></button>
        </div>
      </div>
    </li>
    <br />
    <h6>completed</h6>
    <li *ngFor="let todo of todos">
      <div *ngIf="this.todo.isCompleted">
        <div class="task">{{this.todo.task}}</div>
        <div>
          <button (click)="onDelete(this.todo.id)" class="btn-floating waves-effect waves-light red"> <i class="material-icons">delete</i></button>
        </div>
      </div>
    </li>
  </ul>

</div>